header {
    padding-top: 50px;
    padding-bottom: 300px;
   margin-bottom: 100px;
    background-image: url("img/header.jpg");
    background-size: 100% auto;
    background-position: 0px -200px;
    background-repeat: no-repeat;

}

h1{
    text-align: center;
}

hr {
  width: 75%;
}

.row {
    margin: 0 auto 5em auto;
    padding-left: 10em;
}


#book-bio{
 width: auto;
  float: left;
  display: inline-block;
  text-align: center;
}

.title, .author, .rating {
    font-weight: bold;
}


.collapsible{
    float: left;
    width: 100%;
}
    
.collapsible-body p {
    padding: 1em;
}

.parallax-container{
    height: 600px;
}

footer {
    text-align: center;
}